* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-family: 'Patua One', cursive;
  color: #34495E;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.addNewContact {
    width: 98px;
    height: 26px;
    border: 2px solid #AEB6BF;
    font-size: 16px;
    text-align: center;
    margin: 0 20px 20px 0px;
    display: inline-block;
    vertical-align: top;
    color: #34495E;
    background-color: #AEB6BF;
    font-weight: bold;
    transition: background-color 0.5s;
}

.addNewContact:hover {
  cursor: pointer;
  background-color: #D6DBDF;
}

.contact:nth-of-type(even){
  background: #EBEDEF;
}

.contact:nth-of-type(odd){
  background: #F4F6F6;
}

.removeContact {
  font-size: 14px;
  float: left;
  transition: color 0.5s;
}

.removeContact:hover {
  cursor: pointer;
  color: #E35641;
}

.searchInput {
  display: inline-block;
  vertical-align: top;
  border-color: #AEB6BF;
  background-color: #EBEDEF;
  color: #34495E;
  padding-left: 2px;
}

.contact {
  font-size: 16px;
  padding: 2px;
  padding-top: 3px;
}

.editContact {
  float: right;
  font-size: 14px;
  transition: color 0.5s;
}

.editContact:hover {
  cursor: pointer;
  color: #45795E;
}

.saveContact {
  float: right;
  color: #34495E;
  font-size: 14px;
}

.saveContact:hover {
  cursor: pointer;
}

.cancelUpdating {
  float: left;
  color: #34495E;
  font-size: 14px;
}

.cancelUpdating:hover {
  cursor: pointer;
}
.error {
  background-color: #F2D7D5;
}

input:focus {
  outline:0;
}

input {
  border: 2px solid #D5DBDB;
}

.header {
    display: inline-block;
    font-size: 18px;
    padding: 10px 10px 10px 15px;
    background-color: #AEB6BF;
    font-size: 19px;
    font-weight: 600;
    color: #34495E;
}

.header:hover {
  cursor: pointer;
}

.noSort:hover {
  cursor: default;
}

.headers {
  background-color: #AEB6BF;
}

.icon {
  font-size: 15px;
  opacity: 0.6;
}


@keyframes newItemAnimation {
  0% {  background-color: #88C1AA; }
  100% { background-color: #EBEDEF; }
}

@keyframes removedItemAnimation {
  0% {  background-color: #E6B0AA; }
  100% { background-color: #EBEDEF; }
}

.addedContact {
    animation: newItemAnimation 3s;
}

.removedContact {
  animation: removedItemAnimation 2s;
}

.modalContent {
  font-size: 28px;
  color: #777;
  padding-bottom: 30px;
}

.modalButton {
  border: 1px solid #777;
  color: #777;
  font-weight: bold;
  width: 58px;
  margin-left: 5px;
  text-align: center;
  display: inline-block;
}

.modalButton:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modalStyle {
    position: absolute;
    top: 200px;
    left: 650px;
    border: 1px solid #777;
    background: #fff;
    overflow: auto;
    WebkitOverflowScrolling: touch;
    borderRadius: 4px;
    outline: none;
    padding: 20px;
    width: 450px;
    height: 200px;
}

.overlayModalStyle {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
}
